body {
  background-image: url(../assets/images/austin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
}



/********** Login Screen *********/
.container {
  border: 1px solid white;
  text-align: center;
  width: 400px;
  height: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  background: white;
  opacity: 0.9;
  border-radius: 20px;
}



/*.containerItemMmgt {
  width: 0 auto;
  height: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
}*/





/***************** Navbar section ****************/

.mdl-navigation {
  background-color: transparent;
  height: 20px;
  width: 100%;
}

.mdl-layout__header-row {
  padding-left: 25px;
}

i.material-icons {
		font-size: 1.5rem;
		color: white;
		position: relative;
		border-radius: 50%;
		padding: 5px;
		margin: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
		/*content: "";*/
		width: 100%;
		height: 100%;
		border: solid 2px;
		transform: scale(0.8);
		position: absolute;
		top: -2px;
		left: -2px;
		border-radius: 50%;
		transition: all 0.3s ease;
}

i.material-icons:hover:after {
		transform: scale(1);
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}



i.material-icons:nth-of-type(1) {
		background-color: black;
}



i.material-icons:nth-of-type(1):after {
		border-color: black;
}



i.material-icons:hover {
		background-color: transparent;
		transform: rotate(90deg);
		cursor: pointer;
		box-shadow: none;
}

p {
		color: #999;
		font-weight: 300;
		margin-top: 20px;
}

@media (min-width:400px) and (max-width: 1440px) {
	i.material-icons {
		/*padding:10px;*/
		/*margin:5px;*/
		font-size:2rem;
	}
}

@media (min-width:400px) and (max-width: 1024px) {
	i.material-icons {
		/*padding:20px;*/
		/*margin:10px;*/
		font-size:2rem;
	}
	i.material-icons:after {
		border-width:3px;
		top:-3px;
		left:-3px;
	}
}

@media (min-width: 400px) and (max-width: 1024px) {
  i.demo-layout-transparent mdl-layout mdl-js-layout has-drawer is-upgraded {
    font-size:2rem;
  }
}

/*****************End of Navbar section****************/



/************* Body Items ***********/

.containerIndex {
  margin-left: 7%;
  margin-right: 7%;
  /*margin-top: 5%;*/
  width: 0 auto;
  height: 0 auto;
  border-radius: 40px;
}

.searchField {

  margin-left: -5%;

  margin-
}

.descriptionBox {
  width: 360px;
  height: 400px;
  /*margin-left: 34%;*/
  margin-top: 10px;
  background-color: white;
  float: right;
  border: 1px solid red;
}


@media (min-width: 100px)  {
  #map {
  /*border: 1px solid yellow;*/
  width: 0 auto;
  height: 400px;
  margin-left: 7%;
  margin-right: 7%;

  /*margin-top: 1px;*/
  position: relative;

}
}

.demo-card-square.mdl-card {
  width: 290px;
  height: 320px;
  margin: 10px 10px;
  /*float: left;*/
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;

}
/********* Body Items ************/



/******** createItem Page **********/

.createItemForm {
  background-color: white;
  opacity: 0.9;
  border-radius: 30px;
  padding: 5%;
}



/******** rentedItems form *******/

.rentedItemsForm {
  background-color: white;
  opacity: 0.9;
  border-radius: 30px;
  padding: 5%;
}



/********* itemMmgt form ********/

.itemMmgtForm {
  background-color: white;
  opacity: 0.9;
  border-radius: 30px;
  padding: 7%;
}

th {
  padding-left: 3%;
  text-align: center;
}

td {
  padding-left: 3%;
  text-align: center;
}

/******** mapCardsBox form *****/

.mapCardsBox {
  background-color: white;
  opacity: 0.97;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 7%;
  margin-right: 7%;
}

.mdl-textfield mdl-js-textfield mdl-textfield--floating-label {

}


/*********** Footer ******************/

.mdl-mini-footer {
  padding: 16px 16px;
}

/*Payment Modal*/

#modal1{
  z-index: 1000;
}
